<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Website do cleito</title>
    </head>
    <body>
        {{> header}}
        <p>{{welcome}}</p>

        {{> footer}}
    </body>
</html>
